@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Noto Sans JP, Asap Condensed, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  .ant-btn-primary {
    background-color: #1677ff;
  }
  .avatar-upload:hover {
    div {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    img {
      opacity: 0.2;
      transition: opacity 0.3s ease;
      margin-top: 0;
    }
    input {
      position: absolute;
      z-index: 100;
    }
  }
  .text-shadow {
    text-shadow: 3px 3px 3px #005bac,-3px -3px 3px #005bac,-3px 3px 3px #005bac,3px -3px 3px #005bac,3px 0 3px #005bac,-3px 0 3px #005bac,0 3px 3px #005bac,0 -3px 3px #005bac;
  }
}

* {
  box-sizing: border-box;
}

:root {
  --c-primary: #3ea8ff;
}

@layer components {
  .ipt {
    @apply block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-2 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
  }

  .btn {
    @apply inline-flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
  }
}

@layer utilities {
  .ipt {
    @apply focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2;
  }
}